#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 10px;
}

.card-conatainer {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: grey;
}