.sidecontainer {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: fixed;
  left: 0%;
  background-color: #323234;
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  .btn {
    width: 80%;
    padding: 8px;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(236, 236, 236);
  }
  .follow-btn {
    font-size: 1rem;
    width: 40%;
    padding: 5px;
    background-color: #029eff;
  }
  .remove-btn {
    font-size: 1rem;
    width: 40%;
    padding: 5px;
    background-color: #949494;
  }
  .headings {
    margin-block: 10px;
    padding: 8px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.032);
  }
  .names-container {
    color: white;
    margin-top: 10px;

    .inner-container {
      height: 160px;
      overflow-y: auto;
      padding: 5px 5px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
    .headings {
      font-size: 1.8rem;
    }
  }
  .suggestion-container {
    margin-top: 10px;
    .innner-container {
      height: 160px;
      overflow-y: auto;
      padding: 5px 5px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
      }
    }
  }
}
